:host {
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: stretch

    position: relative
    box-sizing: border-box
    font-size: 14px
    height: 30px
    margin-bottom: 5px

    color: #aaa
}

.left {
    text-align: left
    margin-left: 5px
    overflow: hidden
}

.center {
    text-align: center
    align-items: flex-end
}

.right {
    text-align: right
    margin-right: 5px
}

img {
    box-sizing: border-box
    height: 30px
    border: 1px solid #171717
}
