:host {
    border: 1px solid #171717
    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2)
    outline: none
    padding: 0px
    position: relative
    background: #333


    li:nth-child(even) {
        background: #292929
    }

    li[selected] {
        background: rgb(0,85,153)
    }

    .scroll {
        overflow-x: hidden
        overflow-y: auto
        margin-bottom: 70px
    }

    .discription {
        width: 100%
        height: 70px
        background: rgb(51,51,51)
        border-top: 1px solid rgba(255,255,255,0.2);
        position: absolute
        bottom: 0px

        img {
            margin: 5px

            height: 60px
        }
    }

    ul {
        margin: 0
        padding: 0
        outline: none
        li {
            height: 20px
            color: #aaa
            margin-bottom: 1px
            background: rgb(34,34,34)
            line-height: 20px
            &:hover {
                background: rgb(85,85,85)
            }

            &:hover[selected] {
                background: rgb(0,85,153)
            }
            lable {
                margin-top: -5px
            }
            img {
                width: 14px
                height: 14px
                line-height: 20px
                margin-top: 3px
            }
        }
    }

    ul[inLine] {
        li {
            display: inline-block
            box-shadow:1px 1px 1px #0D0C0C
            width: 120px
            height: 140px
            margin: 5px
            text-align: center
            overflow: hidden
            img {
                width: 90px
                height: 90px
                margin: 15px
                border-radius: 2px
            }

            span {
                width: 100px
                overflow: hidden
                display: inline-block
                margin: 2px
                font-size: 11px
            }
        }
    }

    ::-webkit-scrollbar {
        height: 5px
        width: 5px
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.3)
    }
    ::-webkit-scrollbar-track {
        // background-clip: padding-box
        background-color: rgba(255,255,255,0.1)
    }
    ::-webkit-scrollbar-corner {
        background-color: #171717
    }
    ::-webkit-scrollbar-button {
        display: none
    }
}
