:host {
    position: relative
    font-size: 12px
    margin-top: 2px
    border: 1px solid #171717
    white-space: nowrap

    // box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
    color: #ddd
    background: #333
    font-family: Helvetica,Arial,sans-serif
    cursor: default 

    .border {
        position: relative

        svg {
            position: absolute
            top: 0px
            left: 0px
        }

        canvas {
            position: absolute
            top: 0px
            left: 0px
        }
    }
}
