:host {
    display: block

    svg {
        position: absolute
        top: 0px
        right: 0px
        bottom: 0px
        left: 0px
        shape-rendering: crispEdges
    }

    canvas {
        position: absolute
        top: 0px
        right: 0px
        bottom: 0px
        left: 0px
    }

    &(:focus) {
        outline: 0
    }
}
