:host {
    display: flex
    flex-direction: row
    flex-wrap: nowrap     

    position: relative
    box-sizing: border-box

    .left {
        border-top-left-radius: 2px
        border-bottom-left-radius: 2px
    }

    .right {
        border-top-right-radius: 2px
        border-bottom-right-radius: 2px
    }

    &([active]) .btn {
        color: #00aaff
    }

    .btn {
        display: inline-block
        box-sizing: border-box
        font-size: 18px
        padding: 6px 15px

        color: #aaa
        background-color: #444

        &:hover {
            background-color: #555
        }

        &[active] {
            color: #00aaff
            background-color: #222
        }

        &:active {
            background-color: #171717
        }
    }

    span.space {
        width: 5px
    }
}
