:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    font-size: 12px
    white-space: nowrap

    // box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
    color: #ddd
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    cursor: default
}

.border {
    border: 1px solid #171717
    position: relative
    background: #333
}

fire-ui-text-input {
    height: 18px
    width: 180px

    & /deep/ .input-area {
        padding: 0px 2px
    }
}
