html /deep/ {
    project-tree[focused] {
        project-item[selected]::shadow {
            .wrapper {
                .bar {
                    background: #059
                }
            }
        }

        project-item[conflicted]::shadow {
            .wrapper {
                .bar {
                    background: #900
                }
            }
        }
    }
    project-item>project-item {
        margin-left: 24px
    }
    project-item>project-item[foldable] {
        margin-left: 14px
    }

    hierarchy-tree[focused] {
        hierarchy-item[selected]::shadow {
            .wrapper {
                .bar {
                    background: #059
                }
            }
        }
    }
    hierarchy-item {
        margin-left: 10px
    }
    hierarchy-item>hierarchy-item {
        margin-left: 24px
    }
    hierarchy-item>hierarchy-item[foldable] {
        margin-left: 14px
    }

    ::-webkit-scrollbar {
        height: 5px
        width: 5px
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.3)
    }
    ::-webkit-scrollbar-track {
        // background-clip: padding-box
        background-color: rgba(255,255,255,0.1)
    }
    ::-webkit-scrollbar-corner {
        background-color: #171717
    }
    ::-webkit-scrollbar-button {
        display: none
    }
}
