:host {
    display: inline-block
    position: relative
    box-sizing: border-box
    font-size: 14px
    height: 30px

    color: #aaa
    background-color: #333

    &([active]) .btn {
        color: #00aaff
    }

    .btn {
        display: inline-block
        box-sizing: border-box
        font-size: 18px
        padding: 6px 15px

        color: #aaa

        &:hover {
            background-color: #555
            border-radius: 2px
        }

        &[active] {
            color: #00aaff
            background-color: #222
        }

        &:active {
            background-color: #171717
        }
    }

    span.space {
        width: 5px
    }
}
