:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap     
    align-items: stretch

    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: 3px
    font-size: 12px

    font-family: Helvetica,Arial,sans-serif
    background: #333
    color: #ddd

    span.space {
        width: 3px
        height: 3px
    }
}
