:host {
    display: flex
    flex-direction: row
    flex-wrap: nowrap     
    align-items: center

    position: relative
    box-sizing: border-box
    font-size: 12px
    height: 20px
    margin: 5px 5px 0px

    color: #aaa

    .version {
        color: #f90
    }
}
