:host {
    
	// It will create a new shadow-root instead of import the base element's shadow-root,
    // so we must use the selector '::shadow' to customize the style of base element
    // https://groups.google.com/forum/?fromgroups=#!topic/polymer-dev/8MOOwcjZVpw
    // https://www.polymer-project.org/articles/styling-elements.html

    &([selected])::shadow {
        .wrapper {
            .bar {
                visibility: visible
                background: #555
            }
        }
    }

    &([conflicted])::shadow {
        .wrapper {
            .bar {
                visibility: visible
                background: #900
            }
        }
    }

    &([highlighted])::shadow {
        // border: 2px solid #c7722c
        .wrapper {
            background: #c7722c
        }
    }

    &([invalid])::shadow {
        .wrapper {
            background: #f00
        }
    }

    &::shadow {
        .folder {
            background-image: url('img/assets-folder.png')
        }

        .db {
            background-image: url('img/assets-db.png')
        }

        .fire {
            background-image: url('img/assets-fire.png')
        }

        .txt {
            background-image: url('img/assets-txt.png')
        }

        .js {
            background-image: url('img/assets-js.png')
        }

        .co {
            background-image: url('img/assets-co.png')
        }

        .ts {
            background-image: url('img/assets-ts.png')
        }

        .html {
            background-image: url('img/assets-html.png')
        }

        .css {
            background-image: url('img/assets-css.png')
        }

        .anim {
            background-image: url('img/assets-anim.png')
        }

        .fa-cube {
            color: #0f9
        }

        .fa-fire {
            color: #dc5b3c
        }
    }
}
