html /deep/ {
    assets-tree[focused] {
        assets-item[selected]::shadow {
            .wrapper {
                .bar {
                    background: #059
                }
            }
        }

        assets-item[conflicted]::shadow {
            .wrapper {
                .bar {
                    background: #900
                }
            }
        }
    }

    // calculate by .type-icon.(width+marginRight)
    assets-item>assets-item{
        margin-left: 18px
    }
}
