html /deep/ {
    assets-tree[focused] {
        assets-item[selected]::shadow {
            #bar {
                background: #059
            }
        }

        assets-item[conflicted]::shadow {
            #bar {
                background: #900
            }
        }
    }

    // calculate by .type-icon.(width+marginRight)
    assets-item>assets-item{
        margin-left: 18px
    }

    assets-item::shadow fire-ui-text-input {
        position: absolute
        left: 9px
        top: -1px
        height: 18px
        width: calc(100% - 9px)

        &[icon] {
            left: 27px
            width: calc(100% - 27px)
        }

        &::shadow .input-area {
            padding: 0px 1px
        }
    }

    assets-item::shadow .type-icon {
        &.folder {
            background-image: url('img/assets-folder.png')
        }

        &.db {
            background-image: url('img/assets-db.png')
        }

        &.fire {
            background-image: url('img/assets-fire.png')
        }

        &.txt {
            background-image: url('img/assets-txt.png')
        }

        &.js {
            background-image: url('img/assets-js.png')
        }

        &.co {
            background-image: url('img/assets-co.png')
        }

        &.ts {
            background-image: url('img/assets-ts.png')
        }

        &.html {
            background-image: url('img/assets-html.png')
        }

        &.css {
            background-image: url('img/assets-css.png')
        }

        &.anim {
            background-image: url('img/assets-anim.png')
        }

        &.bmfont {
            background-image: url('img/assets-bmfont.png')
        }

        &.sprite {
            background-image: url('img/assets-sprite.png')
        }

        &.audio {
            background-image: url('img/assets-audio.png')
        }

        &.atlas {
            background-image: url('img/assets-atlas.png')
        }

        &.fa-cube {
            color: #0f9
        }

        &.fa-question-circle {
            color: #f00
        }

        &.fa-fire {
            color: #dc5b3c
        }
    }
}
