:host {
    height: 60px
    white-space: normal
    overflow-x: hidden
    overflow-y: auto
    border: 1px solid #171717

    background: #333

    span {
        display: inline-block
        margin-left: 5px
        margin-right: 5px
    }

    .space {
        height: 5px
        width: 100%
    }

    info {
        user-select: initial
    }

    .sp-info {
        width: 100%
        padding-left: 5px
    }

    i {
        display: inline-block
        margin-right: 5px
        margin-left: 5px
        width: 20px
        text-align: center

        &.fa-info {
            color: #aaa
        }

        &.fa-warning {
            color: #aa0
        }

        &.fa-times-circle {
            color: #a00
        }
    }
}
