:host {
    display: block
    padding: 5px
    margin-bottom: 1px
    border-left: 3px solid #222

    color: #999
    background: #222

    &(:nth-child(even)) {
        border-left: 3px solid #292929
        background: #292929
    }

    &([selected]) {
        border-left: 3px solid #f00
    }

    // .text.warn {
    //     color: #aa0
    // }

    // .text.error {
    //     color: #a00
    // }
}

i {
    margin-right: 5px
    width: 20px
    text-align: center

    &.fa-info {
        color: #aaa
    }

    &.fa-warning {
        color: #aa0
    }

    &.fa-times-circle {
        color: #a00
    }
}

.text.info {
    color: #0af
}

.count {
    height: 12px
    background: #7C7B77
    color: white
    padding-left: 4px
    padding-right: 4px
    border-radius: 6px
    font-size: 12px
}

.hide {
    display: none
}
