:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    font-size: 12px
    margin-top: 2px

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    color: #aaa
    cursor: default
    outline: none
}

.space {
    width: 5px
}

fire-ui-toolbar {
    fire-ui-button {
        .fa-ban {
            color: #f00

            &:hover {
                color: #f00
            }

            &:active {
                color: #f00
            }
        }
    }
}
