html /deep/ {
    hierarchy-tree[focused] {
        hierarchy-item[selected]::shadow {
            .wrapper {
                .bar {
                    background: #059
                }
            }
        }
    }
    // calculate by .fold-icon.(width+marginRight)
    hierarchy-item>hierarchy-item {
        margin-left: 12px
    }
}
