:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap     
    align-items: stretch

    font-size: 12px
    margin-top: 2px

    font-family: Helvetica,Arial,sans-serif
    color: #aaa
    cursor: default 
    outline: none

    fire-ui-text-input {                         
        height: 16px
        min-height: 16px

        & /deep/ .input-area {                         
            padding: 0px 2px
        }
    }

    fire-ui-button {                         
        height: 16px
        & /deep/ button {                         
            padding: 0px 2px
        }
    }

    #searchBar {
        padding-left: 5px
        padding-right: 5px
        margin-top: 5px
        margin-bottom: 5px

        span.space {
            width: 5px
        }
    }
}
