html /deep/ {
    project-tree[focused] {
        project-item[selected]::shadow {
            .wrapper {
                .bar {
                    background: #059
                }
            }
        }
    }
}
