:host {
    display: block

    font-size: 12px
    margin-left: 16px

    .item {
        display: inline-block

        font-family: Helvetica,Arial,sans-serif
        color: #aaa
        cursor: default 

        .type-icon {
            color: #fff
            margin-right: 2px
            width: 10px
        }

        .fold-icon {
            visibility: hidden 
            width: 10px
        }

        .fa-folder {
            color: #09f
        }
    }


    &([foldable]) {
        .fold-icon {
            visibility: visible 
            width: 10px
        }
    }
}
