:host {
    display: block

    font-size: 12px
    margin-left: 24px

    .item {
        display: inline-block
        white-space: nowrap

        font-family: Helvetica,Arial,sans-serif
        color: #aaa
        cursor: default 

        .border {
            display: flex
            flex-direction: row
            flex-wrap: nowrap     
            align-items: center

            .fold-icon {
                display: none
                width: 10px
            }

            .type-icon {
                color: #fff
                width: 14px
            }

            .fa-folder {
                color: #09f
            }
        }
    }

    &([foldable]) {
        margin-left: 10px

        .item {
            .border {
                .fold-icon {
                    display: inline-block
                }
            }
        }
    }
}
