:host {
    display: block

    font-size: 12px
    margin-left: 20px

    .item {
        display: inline-block
        flex-direction: row
        flex-wrap: nowrap     
        align-items: center

        font-family: Helvetica,Arial,sans-serif
        color: #aaa
        cursor: default 

        .icon {
            color: #09f
            margin-right: 2px
        }
    }
}
