:host {
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    padding: 30px

    display: flex
    flex-direction: column
    flex-wrap: nowrap

    .title {
        font-size: 25px
        margin-bottom: 20px

        color: #ffba00
    }

    .field {
        margin-bottom: 3px
    }

    span.space {
        width: 5px
        height: 5px
        display: block
    }

    .border {
        position: relative
        border: 1px solid #212121

        .content {
            padding: 10px

            overflow-x: hidden
            overflow-y: auto

            border-left: 1px solid rgba(255, 255, 255, 0.08)
            border-right: 1px solid rgba(255, 255, 255, 0.08)
            border-bottom: 1px solid rgba(255, 255, 255, 0.08)
            border-top: 1px solid rgba(255, 255, 255, 0.2)

            // background-color: #474747
            box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2)
            background-color: #333

            &:focus {
                outline: none
            }
        }
    }

    button {
        float: right
        width: 80px
        height: 30px
        margin-right: 15px
        border: 1px solid #252525
        border-radius: 2px
        padding: 4px 8px
        cursor: pointer
        color: #bdbdbd
        outline: none
        &.green {
            background-color: #090

            &:hover {
                background-color: #090 + 10%
            }

            &:active {
                background-color: #090 - 10%
            }
        }
        ([disabled]) {
            * {
                pointer-events: none
                background: black
            }

            // background: color-bg-disabled
        }
    }
}
