:host {
    display: flex
    flex-direction: row
    flex-wrap: nowrap     
    align-items: stretch
    height: 100%

    font-family: Helvetica,Arial,sans-serif

    * {
        cursor: default     
        -webkit-user-select: none

        &:focus {
            outline: 0
        }
    }

    .sidebar {
        width: 250px

        background-color: #171717

        .logo {
            -webkit-filter: grayscale(0.5) opacity(0.3)
        }

        #menu {
            margin-top: 120px
            padding: 0px

            .item {
                padding: 10px
                padding-left: 20px
                font-size: 18px
                list-style-type: none

                color: #aaa
                border-left: 4px solid #171717

                &:hover {
                    border-left: 4px solid #222
                    background-color: #222
                }

                &.active {
                    border-left: 4px solid #ffba00
                    background-color: #333
                }

                i {
                    width: 20px
                    margin-right: 10px
                }
            }
        }
    }

    .content {
        flex: auto
        position: relative
    }
}
