color-button-text = #bdbdbd
color-button-bg = #4a4a4a
color-border-normal = #4a4a4a - 50%

:host {
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px

    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: stretch

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif

    .sidebar {
        width: 200px
        padding: 10px

        #menu {
            margin-top: 20px

            .item {
                padding: 4px 8px
                font-size: 18px

                color: #aaa

                &:hover {
                    background-color: #222
                }

                &.active {
                    background-color: #444
                }
            }
        }

        .btn-group {
            margin-bottom: 10px
        }
    }

    .content {
        flex: auto
        position: relative

        box-shadow: 0 0 8px 2px rgba(0,0,0,0.2)
    }

    .openbtn {
        height: 30px
        width: 100%
        margin-right: 15px
        border: 1px solid #252525
        border-radius: 2px
        padding: 4px 8px
        cursor: pointer
        color: color-button-text
        background-color: color-button-bg

        &:focus {
            outline: none
        }

        &:hover {
            border-color: color-border-normal
            background-color: color-button-bg + 10%
        }

        &:active {
            background-color: color-button-bg - 10%
            color: color-button-text - 10%
        }
    }
}
