:host {
    box-shadow: none
    background: none
    border: none
}

:host::shadow {
    .highlight {
        display: none

        position: absolute
        border: 1px solid #c7722c
        box-sizing: border-box

        pointer-events: none
    }

    .insert {
        display: none

        position: absolute
        border: 1px solid #0f0
        box-sizing: border-box

        pointer-events: none
    }
}
