:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    font-size: 12px
    white-space: nowrap

    // box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
    color: #ddd
    background: #333
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    cursor: default
}

span.space {
    width: 5px
}

span.text {
    margin-left: 5px
    margin-right: 5px
}

fire-ui-select {
    width: 180px
}

fire-ui-unit-input {
    width: 60px
}

.border {
    border: 1px solid #171717
    position: relative
    box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.2)
    background: #292929
}

#view {
    &:focus {
        outline: 0
    }
}

canvas {
    // center it
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    display: block

    &:focus {
        outline: 0
    }
}
