:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    font-size: 12px
    margin-top: 2px

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    color: #aaa
    cursor: default
    outline: none

    outline: 2px solid transparent
}

:host([highlighted]) {
    outline: 2px solid #00ff00
}

fire-ui-section {
    margin-top: 1px
}
