:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    font-size: 12px
    margin-top: 2px

    font-family: Helvetica,Arial,sans-serif
    color: #aaa
    cursor: default
    outline: none

    fire-ui-splitter::shadow {
        .bar {
            background: #333
        }
    }

    fire-ui-toolbar {
        height: 20px

        .asset-name {
            overflow-x: hidden
        }

        fire-ui-button {
            .fa-close {
                color: #f00

                &:hover {
                    color: #f00
                }

                &:active {
                    color: #f00
                }
            }

            .fa-check {
                color: #0f9

                &:hover {
                    color: #0f9
                }

                &:active {
                    color: #0f9
                }
            }

            &[disabled] {
                .fa-close, .fa-check {
                    color: inherit
                }
            }
        }
    }

    ::-webkit-scrollbar {
        height: 5px
        width: 5px
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(255,255,255,0.3)
    }
    ::-webkit-scrollbar-track {
        // background-clip: padding-box
        background-color: rgba(255,255,255,0.1)
    }
    ::-webkit-scrollbar-corner {
        background-color: #171717
    }
    ::-webkit-scrollbar-button {
        display: none
    }
}
