:host {

    .CodeMirror {
        height:100%;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .CodeMirror-scroll {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .CodeMirror-hscrollbar{
        overflow-x: hidden;
    }
}
