:host {
    display: block
    position: relative

    .CodeMirror {
        overflow-y: hidden
        overflow-x: hidden
        height: auto
        font-size: 13px
        line-height: 130%
        font-weight: 500
    }

    .CodeMirror-scroll {
        overflow-y: hidden
        overflow-x: hidden
    }

    .CodeMirror-hscrollbar{
        overflow-x: visible
        overflow-y: visible
    }
}
