:host {
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    min-width: 600px


    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: stretch

    #statusBar {
        width: 100%
        line-height: 20px
        ul {
            left: 0px
            padding: 0px
            margin: 0px
            list-style-type: none
            li {
                float: left
                line-height: 30px
                font-family: arial
                font-size: 12px
                margin-left: 10px
            }
        }
    }

    #tip {
        margin-right: 10px
    }
    .space{
        width: 10px
        height: 20px
    }

    .space2{
        width: 20px
        height: 20px
    }

    .space3{
        width: 30px
        height: 20px
    }
}
