:host {
    display: block
    position: relative

    .CodeMirror {
        overflow-y: hidden
        overflow-x: hidden
        height: auto
        line-height: 130%

        font-family: 'DejaVu Sans Mono', monospace
        font-size: 15px
    }

    .CodeMirror-scroll {
        overflow-y: hidden
        overflow-x: hidden
    }

    .CodeMirror-hscrollbar{
        overflow-x: visible
        overflow-y: visible
    }

    .CodeMirror-dialog {
        position: absolute
        left: 0
        right: 0
        z-index: 15
        padding: .1em .8em
        overflow: hidden

        color: #aaa
        background: #333

        input {
            font-size: 13px
            font-family: 'DejaVu Sans Mono', monospace
        }
    }
}
