:host {
    display: flex
    flex-direction: column
    flex-wrap: nowrap     
    align-items: stretch

    font-size: 12px
    margin-top: 2px

    font-family: Helvetica,Arial,sans-serif
    color: #aaa
    cursor: default 
    outline: none

    .fields {
        position: relative
    }

    .preview {
        display: block
        position: relative
        height: 200px
        border: 1px solid #171717

        &[hidden] {
            display: none
        }

        .background {
            background-image: url('../../img/checkerboard-64x64.png')
            width: 100%
            height: 100%

            img {
                display: block
                height: 100%
                margin-left: auto
                margin-right: auto
            }
        }
    }
}
