:host {
    overflow-x: hidden
    overflow-y: auto
    position: relative
}

::content {
    fire-ui-section {
        margin-bottom: 5px
    }

    .entity-section {
        padding-left: 5px
        padding-right: 5px
        margin-top: 5px
        margin-bottom: 5px

        span.space {
            width: 5px
        }
    }
}
